<!DOCTYPE html>
<html lang="ja">

<head>
    <title>関西音楽系施設まとめ - コンサートホール一覧</title>
    <%- include(`templates/_head`) -%>
</head>

<body>
    <%- include(`templates/_sidenav`) -%>
    <%- include(`templates/_navbar`,{title:'コンサートホール一覧'}) -%>

    <div class="uk-container uk-container-small uk-padding-remove">
        <main class="uk-padding-small">
            <div id="button-grid" class="uk-grid-collapse uk-child-width-expand" uk-grid>
                <div>
                    <div class="uk-inline uk-width-1-1">
                        <select class="uk-select" id="sort-select">
                            <option>名前順</option>
                            <option>住所順</option>
                            <option>駅名順</option>
                            <option>駅から近い順</option>
                            <option>広い順</option>
                            <option>定員順</option>
                            <option>安い順</option>
                        </select>
                    </div>
                </div>
                <div>
                    <a class="uk-button uk-button-default uk-width-1-1" href="#modal-overflow" style="padding:0;" uk-toggle>
                        <i class="fas fa-search"></i>条件検索
                    </a>
                </div>
                <div>
                    <button class="uk-button uk-button-default uk-width-1-1" type="button" id="map-toggle-button" uk-toggle="target: .toggle-content"><i class="fas fa-map-marker-alt"></i>マップ</button>
                </div>
            </div>
            <div class="uk-width-large">
                <%- include(`templates/_searchDialog`) -%>
            </div>

            <div id="spinner">
                <img src="images/icon_loader_f_ww_01_s1.gif">
            </div>

            <div class="toggle-content" id="main-map" style="height:65vh;" hidden></div>

            <%- include(`templates/_mapPopup`) -%>

            <div class="uk-margin-top toggle-content" id="facility-list">
                <ul class="list uk-list"> </ul>
                <ul class="uk-hidden" style="display:none;" id="list-template">
                    <%- include(`templates/_itemTemplate`) -%>
                </ul>
            </div>

            <%- include(`templates/_detailDialog`) -%>
        </main>
    </div>
</body>

</html>